@import '../styles/shared.scss';

.Calculator {
  text-align: center;
  width: 100%;
  @media (min-width: $brk-mobile) {
    width: 380px;
  }
}

.Calculator__wrapper-flex {
  display: flex;
}

.Calculator__wrapper {
  @include revolut-shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 400px;
  padding: 2rem;
  border-radius: 13px;
  background-color: #ffffff;
}

.Calculator__exchange-field {
  display: flex;
  justify-content: space-between;
}
