@import '../styles/shared.scss';

.DisplayRate {
  display: flex;
  justify-content: center;
}

.DisplayRate__wrapper {
  @include revolut-shadow;
  width: 110px;
  background: #ffffff;
  text-align: center;
  max-width: 50%;
  box-sizing: border-box;
  border-radius: 8px;
  p {
    line-height: 0.5rem;
  }
}

.DisplayRate__wrapper:hover {
  cursor: default;
}
